.fighter-preview___root {
  display: flex;
  align-items: flex-start;
  /*flex-direction: column;*/
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: center;
}
.fighter-preview___right img{
  transform: scaleX(-1);
}

.fighter-preview___left {
  align-items: center;
}
.fighter-preview___left .fighter-preview--container-characteristic{
  order: -1;
}

.fighter-preview--img{
  max-height: 380px;
}

.fighter-preview--container-characteristic{
  font-size: 20px;
  color: #ffff;
  font-weight: bold;
}
.fighter-preview--container-characteristic p {
  border-bottom: 2px solid #ba0303;
}
